<nav class="navbar navbar-light bg-primary bg-dark">
    <div class="container-fluid">
      <h1 class="text-warning">League Of Legends</h1>
      <div class="d-flex">
         <button (click)="clickAddPersonnage()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning ">Ajouter Personnage</button>
      </div>
    </div>
</nav>
  
<table class="table mt-3">
    <thead>
        <tr>
        <th scope="col">Personnage ID</th>
        <th scope="col">Title</th>
        <th scope="col">Key</th>
        <th scope="col">Name</th>
        <th scope="col">Active</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of personnageData">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.key}}</td>
            <td>{{row.name}}</td>
            <td>{{row.active}}</td>
        <td>
            <button (click)="editPerso(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Modifier</button>
            <button (click)="deletePerso(row)" class="btn btn-danger mx-3">Supprimer</button>
        </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Personnage Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="formValue">
            <div class="mb-3">
                <label for="exampleInputTitle" class="form-label">Title</label>
                <input type="text" formControlName="title" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp">
                
            </div>
            <div class="mb-3">
                <label for="exampleInputKey" class="form-label">Key</label>
                <input type="text" formControlName="key" class="form-control" id="exampleInputKey">
            </div>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputName">
            </div>
            <div class="mb-3">
                <label for="exampleInputActive" class="form-label">Active</label>
                <input type="text" formControlName="active" class="form-control" id="exampleInputActive">
            </div>
            
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" *ngIf="showAdd" (click)="postPersonnageDetails()" class="btn btn-primary">Ajouter</button>
            <button type="button" *ngIf="showUpdate" (click)="updatePersonnageDetails()" class="btn btn-primary">Modifier</button>
        </div>
        </div>
    </div>
</div>
